*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 227, 227);
    color:rgb(5, 5, 5);
    font-family:"Spoqa Han Sans Neo", "sans-serif";
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 60px;
    background-color:cadetblue;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
}

.head-container{
    width: 100%;
    height: 50px;
    display: flex;
    margin-right: 0;
    justify-content: space-between;
    align-items:  center;
    z-index: 2;
    border-color: black;
    box-shadow: 0px 3px 3px -3px rgb(0, 0, 0);
}

.head-name{
    width: 150px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    margin-left: 0.8rem;
} 

.head-logout{
  
    margin-right: 0.1rem;
    background-color: whitesmoke;
    color: cadetblue;
    text-align: center;
    font-size: 0.7rem;
    height: 30px;
    width: 60px;
}
.head-login{
   
    margin-right: 0.1rem;
    background-color: whitesmoke;
    color:cadetblue ;   
    text-align: center;
    font-size: 0.7rem; 
    height: 30px;
    width: 60px;

} 

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: cadetblue;
  color: rgb(247, 247, 247);
  order:2;  
  font-size: 0.8rem; 
  margin-top: 0.5px;
}
.notice{
    margin-left: 0.8rem;
    width: 16%;
    background-color: cadetblue;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
nav a{
    color: white;
}
section a{
    color: rgb(0, 0, 0);
}
section div a{
    color:black;
}
.free{
    width: 16%;
    background-color: cadetblue;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    
}
.gallary{
    width: 16%;
    background-color: cadetblue;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
.sbox{
    width: 50%;

}
.sbt{
    width: 8%;
    height: 30px;
    font-size: 0.5rem;
    color: rgb(0, 0, 0);
}
.tbox{
    margin-left: 0;
    width:90%;
    height: 30px;
}

#content-wrap{
    display: flex;
    justify-content:space-between;
    width:100%;
    height:300px;
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
}
.right{
    width: 50%;
    height: 700px;
}
.left{
    width: 50%;
    height: 700px;

}
.rs1{
    height: 60%;
    background-size: cover;
    background-position:center;
    background-image: url("/images/0.PNG");
}
.mt{
    padding-top: 60px;
    font-size: 9rem;
    color: white;
    text-align: center;
    font-weight: 800;
}

.rs2{
    height: 200px;
    background-color: rgb(250, 250, 250);
    margin-top:5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;

}

.alarm{
    background-color: crimson;
    font-size: 1rem;
    color:white;
    border-radius: 5px;
}
.gs{
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    color:rgb(0, 0, 0);
}

.note{
    display: flex;
    justify-content:space-between;
    font-size: 1rem;
    margin:5px;
   
}
.tt{
    font-size: 1rem;
   
}
footer{
    background-color: dimgray;
    width: 100%;
    height: 100px;
    margin-top: 540px;
    font-size: 1rem;
    text-align: center;
   padding-top: 30px;
}
.rm{
    height: 830px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin-top:0.5px;
    margin-left: 5px;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
 

 .list{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    margin-bottom: 50px;
  }
  .list2{
    display: flex;
    justify-content: space-evenly;
    list-style: none;  
  }
  .pc{
    width: 250px;
    box-shadow: 10px 10px 10px -5px rgba(25,45,70,.2);
    border-radius:  5px;
    margin-right: 3px;
    height: 330px;
  }
  .note2{
    display: flex;
    justify-content:space-between;
    font-size: 0.8rem;
    margin:5px;
}
.gtitle{
    font-weight:800;
}

nav .notice:hover:not(.active){
    background-color: rgb(181, 197, 187);
}
nav .free:hover:not(.active){
    background-color: rgb(181, 197, 187);
}
nav .gallary:hover:not(.active){
    background-color: rgb(181, 197, 187);
}
.pc:hover:not(.active){
    background-color: rgb(187, 187, 187);
}
.box_bt:hover:not(.active){
    background-color: rgb(187, 187, 187);
}

div form .head-login:hover:not(.active){
    background-color: crimson;
}
div form .head-logout:hover:not(.active){
    background-color: crimson;
}
div form .sbt:hover:not(.active){
    background-color: crimson;
}

.note:hover:not(.active){
    background-color: rgb(235, 235, 235);
    
    text-decoration-line: underline;
}


/* 모바일  */
@media all and (min-width:360px){
   nav{
     display: none;
  }
  .head-container{
      width: 98%;
  }
  #content-wrap{
    display: block;
    margin-top: 60px;
}
.list{
    display: block;
    padding-left: 0;
}

.list2{
    padding-left: 0;
    display: block;
}
.right{
    width: 95%;
}
.left{
    width: 95%;
}
.rm{
    margin-top: 150px;
    height: 2490px;

}
.pc{
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
    height: auto;
}
.pt{
    width:100%;
}
footer{
    margin-top: 3050px;
   
}
}

/* 태블릿 */
@media all and (min-width:768px){
    #content-wrap{
        display: block;
        margin-top: 110px;
    }
    header{
        width: 100%;
    }
    nav{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content:space-between;
        align-items:center;
        background-color: cadetblue;
        color: rgb(247, 247, 247);
        font-size: 0.8rem; 
        flex-flow: row wrap;
      }
    .right{
        width: 98%;
        margin-right: 0;
    }
    .left{
        width: 98%;
    }
    .rm{
        margin-top: 150px;
        height: 830px;
    }
    footer{
        margin-top: 1400px;
    }
   
    .list{
        display: flex;
    }
    
    .list2{
        display: flex;
    }
    .pc{
        width: 250px;
        height: 320px;
    }
    head-container{
        width: 100%;
    }
}

/* PC */
@media all and (min-width:1024px){
    #content-wrap{
        display: flex;
    }
    head-container{
        width: 100%;
    }
    .right{
        width: 50%;
    }
    .left{
        width: 50%;
    }
    .rm{
        margin-top: 0.5px;
        width: 100%;
    }
    header{
        width: 100%;
    } 
    .pc{
        width: 250px;
        height: 310px;
    }
    footer{

        margin-top: 540px;
    }
}